---
import type { Article } from '../api/article-api';
import ArticleCard from './ArticleCard.astro';

interface Props {
  articles: Article[];
}

const { articles } = Astro.props;
---

<section>
  <ul>
    {articles.map((article) => (
      <li>
        <ArticleCard article={article} />
      </li>
    ))}
  </ul>
</section>
