---
import ArticleDetail from '../../components/ArticleDetail.astro';
import { getAllArticles } from '../../api/article-api';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const articles = await getAllArticles();
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
---

<Layout>
  <main>
    <ArticleDetail article={article} />
  </main>
</Layout>
